:root {
    --jumbo-height: 360px;
}
.jumbotron {
    height: var(--jumbo-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
section {
    padding-top: 35vmax;
    text-align: center;
}
.hidden > * {
    display: none;
    padding-bottom: 2vmax;
}
#percent {
    padding: 2vmin 0 0;
}
.btn-primary {
    width: 12vmin;
    margin: 1rem calc(50% - 6vmin);
}
ul {
    padding-top: calc(var(--jumbo-height) + 2vmin);
}