header *:not(input) {
    padding: 1rem 0 .5rem;
}
.container {
    max-width: calc(100% - 5rem) !important;
}
section {
    padding-top: 35vmax;
    text-align: center;
}
.hidden > * {
    display: none;
    padding-bottom: 2vmax;
}
.modal-header {
    border-bottom: none !important;
}
.modal-body {
    padding-top: 0 !important;
    text-align: center;
}
#percent {
    padding: 2vmin 0 0;
}
.btn-primary {
    width: 12vmin;
    margin: 1rem calc(50% - 6vmin);
}
li {
    display: inline;
}